<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.memo.post.dao.PostDAO">
 	<select id="selectPostListByUserId" resultType="com.memo.post.model.Post"  parameterType="int">
 		SELECT 
	 		`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE 
			`userId` = #{userId}

		<!-- 3) direction이 null이면 첫페이지 -->
		<if test="direction == null"> 
		ORDER BY `id` DESC
		</if>
		
		<!-- 1) direction이 next이면 다음 -->
		<if test="direction == 'next'">
			<![CDATA[
			AND `id` < #{standardId}
			]]>
		ORDER BY `id` DESC
		</if>
		
		<!-- 2) direction이 prev이면 이전 -->
		<if test="direction == 'prev'">
			<![CDATA[
			AND `id` > #{standardId}
			]]>
		ORDER BY `id` ASC
		</if>
		LIMIT ${limit} <!-- #{}은 무조건 따옴표가 붙는다 -> ${}는 따옴표가 안붙음 -->			
 	</select>
 	
 	<select id="selectPostByUserIdAndSort" parameterType="map" resultType="int">
 		SELECT
 			`id`
 		FROM 
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` ${sort}
 		LIMIT 1;
 	</select>
 	
 	
 	
 	<select id="selectPostByPostId" resultType="com.memo.post.model.Post" parameterType="int">
 		SELECT 
	 		`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE 
			`id` = #{id}
 	</select>
 	
 	
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
 		(
 			`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{subject}
 			,#{content}
 			,#{imagePath}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<update id="updatePostByUserIdPostId" parameterType="map">
 		UPDATE `post`
 		SET
 			`subject` = #{subject}
 			, `content` = #{content}
 			<!-- imagePath가 있을때만 수정한다. 동적쿼리: 쿼리문에서도 if문 사용이 가능하다-->
 			<if test="imagePath != null">, `imagePath` = #{imagePath}</if>
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{postId}
 			AND `userId`= #{userId}
 	</update>
 	
 	<delete id="deletePostByUserIdPostId" parameterType="map">
 		DELETE 
 		FROM
 			`post`
 		WHERE 
 			`id` = #{postId}
 			AND `userId` = #{userId}
 	</delete>
 	
 </mapper>